github "Moya/Moya"
github "Alamofire/AlamofireImage"
github "Hearst-DD/ObjectMapper" 
github "SnapKit/SnapKit"
github "onevcat/Kingfisher"
github "ViccAlexander/Chameleon"
github "lkzhao/Hero"
github "mxcl/PromiseKit" 
github "SwiftyJSON/SwiftyJSON"
github "Instagram/IGListKit"
github "bahlo/SwiftGif" 
github "CoderMJLee/MJRefresh"